/* 全局通用样式 */
:root {
    --bg: #0d0d0d;
}

/* 隐藏浏览器滚动条 */
::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: #0d0d0d;
    overflow: hidden;
}